# Only include dist and essential files
src/
app-dist/
out/
assets/
homebrew/
demo.tape
logs/
*.bak
forge.config.js
electron-builder.json
tsup.config.ts
tsconfig.json
scripts/
README.*.md
package.*.json
